aio-pika
aiohappyeyeballs
aiohttp
aiormq
aiosignal
annotated-types
anyio
attrs
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
exceptiongroup
fastapi
filetype
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
idna
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
# langchain-google-genai   👈 필요 없으면 제거!
langchain-text-splitters
langsmith
marshmallow
multidict
mypy_extensions
numpy
orjson
packaging
paho-mqtt
pamqp
pathlib
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeps
PyMySQL
pyparsing
pysbs
python-dotenv
PyYAML
requests
requests-toolbelt
rsa
SCons
sniffio
SQLAlchemy
starlette
stdlib-list
tenacity
tqdm
typing-inspect
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
watchfiles
websockets
yarl
zstandard